*{
    margin:0;padding:0;
}

section{
    width:600px;
    height:400px;
    background-color: rgb(155, 151, 151);
    /*讓物件置中在瀏覽器正中央*/
    position: relative;
    margin: auto;
    transform: translateY(50%)
} 

.cross{
    position:absolute;
    top:10px;
    right:20px;
    cursor: pointer;
}

.title{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 30px;
}

.account_id{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.account_id .account{
    width:200px;
    height:30px;
    font-size: 20px;
}

.pass{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.password{
    margin-left:47px;
    width:200px;
    height:30px;
    font-size: 20px;
}

.pass i{
    padding-left:10px;
}


.remember{
    display:flex;
    position:absolute;
    top:230px;
    left:192px;
}

.remember i{
    margin-top:4px;
    padding:0 10px;
}

.login{
    border-radius: 35px;
    width:200px;
    height:40px;
    font-size:20px ;
    position:absolute;
    top:280px;
    left:200px;
    cursor: pointer;
}

.lower{
    display:flex;
    font-size:20px ;
    position:absolute;
    top:350px;
    right:30px;
    cursor: pointer;
}
.lower .regist{
    padding:0 20px;
}
