@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
}

header{
    width:100%;
    height:100px;
    background:linear-gradient(45deg,#5a3f37, #2c7744);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0;
    z-index: 5;
}

.logo img{
    box-shadow:1px 3px 20px rgb(48, 213, 235) ;
}

.logo:hover{
    transform: scale(1.1, 1.1);
    transition: 0.5s ease-in;

}

.header_middle{
    line-height: 2.3;
    font-size: 30px;
    color:cornsilk;
}


.header_left .logo{
    width:80px;
    height: 50px;  
    position:relative;  
}

.header_left .logo img{
    width:100%;
    border-radius: 50px;
    position:absolute;
    top:10px;
    left:50px;
}


.header_right{
    display:flex;
    align-items: center;
    margin-right:50px;
}

.search_bar{
    background-color: #fff;
    height:50px;
    border-radius:35px;
    padding:10px;
    margin-right:10rem;
    display:flex;

}

.search_btn{
    text-decoration: none;
    border-radius: 50%;
    background-color: #fff;
    line-height:3.0;
    
}

.search_text{
    border:none;
    outline:none;
    font-size: 28px;
    transition:0.4s;
    width:0px;
}

.search_bar:hover .search_text{
    width:340px;
    padding-left:1rem;
}

.member_cart{
    display:flex;
    justify-content: space-between;
}

.member_cart .member{
    margin-right:3rem;

}
/*================== Section ==================*/
section{
       margin-top:200px;
       min-height: 100%;
       font-size: 26px;
}

.section_list{
    height:200px;
    border:3px solid black ;
    display:flex;
    align-items: center;
    position:relative;
    margin:20px 0;
}

.section_photo{
    width:200px;
    position:absolute;
    left:50px;
}
.section_photo img{
    width:100%;
    height:150px;
}

.section_product{
    width:200px; /*給個寬*/
    position:absolute;
    left:350px;
}

.section_title{
    padding-bottom:50px;
}

.section_count{
    width:250px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.section_button{
    width:90px;
    display:flex;
    justify-content: space-between;
    cursor: pointer;
}



.section_price{
    width:100%; /*給個寬*/
    display: flex;
    position: absolute;
    left: 70%;
}

.section_price_unit{
    margin-right:150px;
}





/*================== FOOTER 待編輯==================*/

.footer_bg{
    width:100%;
    height:100px;
    margin-bottom: 180px; 
    background:linear-gradient(45deg,#5a3f37, #2c7744);
    padding-top:10px;
    padding-bottom:10px;
    padding-left:40px;
    padding-right:40px;
}

.footer_container{
    font-family: 'Poppins', sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


.footer_button{
    width:200px;
    margin-top:10px;
    position:absolute;
    right:500px;
    border-radius:20px;
    font-size: 32px;
    padding: 5px;
    cursor: pointer;
    
}

.footer_button:hover{
    background-color:rgba(223, 137, 111, 0.8);
    transition:0.3s;
}

.footer_button:active{
    transform:translate(0,5px);
    transition:none;
}

.footer_allcost{
    width:400px;
    margin-top:10px;
    background-color: rgb(212, 194, 194);
    position:absolute;
    right:50px;
    border-radius: 5px;
    font-size: 32px;
    padding: 5px;
    cursor: pointer;

}

.footer_copy{
    font-size:16px;
    text-align:center;
    color:white;
    margin-top:50px;
}